# Default ignored files
.idea/*
bin
build
cmake-build-debug
cmake-build-release
cmake-build
doxygen/generated_doc
arpackpp_lib
include/arpp_eig_interface.hpp
data/*.dat
data/*.txt
data_bckp
figures/*.pdf
plotting_scripts/.idea
plotting_scripts/venv
plotting_scripts/__pycache__/*
plotting_scripts/evtable.py
plotting_scripts/miesolution.py
plotting_scripts/miesolution.zip
