# Default ignored files
.idea/*
.cache/*
bin
build
cmake-build-debug
cmake-build-release
cmake-build
doxygen/generated_doc
arpackpp_lib
data/*.dat
data/*.txt
data/*.m
data_bckp
figures/*.pdf
plotting_scripts/.idea
plotting_scripts/venv
plotting_scripts/__pycache__/*
plotting_scripts/evtable.py
plotting_scripts/miesolution.py
plotting_scripts/miesolution.zip
README.md.backup
